@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}


/* top nav */

.navbar {
  height: 50px;
  position: relative;

  .fix-nav {
    height: 50px;
    width: 100%;
    z-index: 1;

    .top-nav-con {
      height: 100%;
      width: 15%;
      position: absolute;
      top: 0;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .notif {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .notif:hover {
        background-color: rgba(135, 207, 235, 0.593);
        border-radius: 50%;

        svg {
          fill: rgba(19, 19, 245, 0.603);
        }
      }

      .nav-mat {
        height: 40px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        #man {
          height: 40px;
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #prop {
          height: 40px;
          width: 60%;
          line-height: 19px;

          .t {
            font-size: smaller;
          }

          .n {
            font-size: 12px;
            font-weight: 400;
            color: gray;
          }
        }
      }
    }
  }
}

/* side nav */

#toggle-btn {
  display: none;
}

#sidebar {
  width: 70px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.2s;

  .logo {
    width: 100%;
    height: 70px;
    position: relative;
    display: grid;
    place-items: center;

    .pyto1 {
      position: absolute;
      height: 40px;
      cursor: pointer;
    }

    .pyto2 {
      display: none;
      position: absolute;
      height: 60px;
      cursor: pointer;
    }
  }

  .sm-txt {
    height: 3%;
    width: 100%;
    position: relative;
    display: none;

    p {
      font-size: 11px;
      font-weight: 500;
      color: gray;
      position: absolute;
      left: 5%;
    }
  }

  .menu {
    height: 50%;
    width: 100%;

    .nvc {
      height: 20%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;

      .svg-con {
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
      }

      .p-con {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        padding-top: 7%;
        display: none;

        p {
          color: gray;
        }
      }
    }
  }
}

#toggle-btn:checked ~ #sidebar {
  width: 250px;
  box-shadow: 0.1px 0.1px 1px gray;

  .logo {
    .pyto1 {
      display: none;
    }

    .pyto2 {
      display: inline-block;
    }
  }

  .sm-txt {
    display: inline-block;
  }

  .menu {
    .nvc {
      .svg-con {
        width: 20%;
      }

      .p-con {
        width: 40%;
        display: inline-block;
      }
    }

    .nvc:hover {
      svg {
        fill: rgba(19, 19, 245, 0.603);
        cursor: pointer;
      }

      p {
        color: rgba(19, 19, 245, 0.603);
        cursor: pointer;
      }
    }
  }
}

#toggle-btn:not(:checked) ~ #sidebar {
  .menu {
    .nvc:hover {
      cursor: pointer;
      width: 280px;
      padding-right: 140px;
      background-color: rgb(58, 58, 58);
      z-index: 1;

      .svg-con {
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;

        svg {
          fill: white;
        }
      }

      .p-con {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 7%;
        display: inline-block;

        p {
          color: white;
          position: relative;
          top: 5px;
        }
      }
    }

    .nvc-sp:hover {
      padding-right: 130px;
    }
  }
}

.toggle-btn-label {
  z-index: 1;

  #menu-logo {
    position: fixed;
    top: 10px;
    left: 100px;
    cursor: pointer;
    transition: all 0.5s;
  }

  #arrow-logo {
    display: none;
    position: fixed;
    top: 10px;
    left: 100px;
    cursor: pointer;
  }
}

#toggle-btn:checked + .toggle-btn-label > #arrow-logo {
  display: inline-block;
  transform: translate(175px, 0px);
}

#toggle-btn:checked ~ .toggle-btn-label > #menu-logo {
  display: none;
}

/* Main page */

.main-page {
  height: 150vh;
  background-color: rgba(175, 175, 175, 0.13);

  .content-page {
    height: 140vh;
    position: relative;
    top: 60px;
    left: 100px;

    .heading {
      height: 50px;

      .heading-l {
        line-height: 4px;

        h6 {
          font-family: Montserrat;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.697);
        }

        p {
          font-family: Arial, Helvetica, sans-serif;
          color: rgba(128, 128, 128, 0.727);
          font-size: small;
          font-weight: 500;
        }
      }

      .heading-r {
        display: flex;
        align-items: center;
        justify-content: end;

        div {
          height: 80%;
          font-size: small;
          font-weight: 500;
          display: grid;
          place-items: center;
          padding: 0 14px 0 14px;
          cursor: pointer;
          border: 1px solid rgba(19, 19, 245, 0.603);
          border-right: none;

          a {
            text-decoration: none;
          }
        }

        .all {
          border-radius: 5px 0 0 5px;
          background-color: rgba(19, 19, 245, 0.603);

          a {
            color: white;
          }
        }

        .this-m {
          border-radius: 0 5px 5px 0;
          border-right: 1px solid rgba(19, 19, 245, 0.603);
        }

        div:hover {
          background-color: rgba(19, 19, 245, 0.603);

          a {
            color: white;
          }
        }
      }
    }

    .columns {
      background-color: white;
      border-radius: 5px;

      .col {
        height: 40vh;
        border-right: 1px solid rgba(183, 182, 182, 0.37);

        div {
          height: 45%;
          width: 90%;
          position: relative;
          left: 5%;
          top: 5%;
        }

        .up,
        .down {
          font-family: Montserrat;
          cursor: pointer;
          margin-left: 5px;

          p {
            color: gray;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            top: 7px;
            margin-bottom: 10px;
          }

          .details {
            position: relative;
            top: 0;
            left: 0;
            .data {
              color: rgba(19, 19, 245, 0.603);
              font-size: 30px;
              font-family: Montserrat;
              font-weight: 600;
              position: relative;
              top: 7px;
              left: 5px;
            }
          }
        }
      }

      .last-col {
        border-right: none;
      }
    }

    .other-data {
      .col1 {
        height: 65vh;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.116);

        .h1 {
          height: 40px;
          width: 100%;
          font-family: Montserrat;
          color: rgba(0, 0, 0, 0.667);
          display: flex;
          align-items: center;
          justify-content: start;
          border-bottom: 1px solid rgba(128, 128, 128, 0.241);

          p {
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
          }
        }

        .tile-con {
          height: 25%;
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            height: 95%;
          }
        }

        .pie-con {
          height: 60%;
          width: 100%;
          display: grid;
          place-items: center;

          .pie {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            background-color: rgba(249, 73, 120, 0.882);
            position: relative;

            .small-pie {
              height: 100px;
              width: 100px;
              border-radius: 50%;
              background-color: white;
              position: absolute;
              left: 50px;
              top: 50px;
            }

            .cut1 {
              height: 2px;
              width: 50px;
              background-color: white;
              rotate: 90deg;
              position: absolute;
              left: 75px;
              top: 25px;
            }

            .cut2 {
              height: 3px;
              width: 50px;
              background-color: white;
              rotate: 210deg;
              position: absolute;
              right: 10px;
              bottom: 60px;
            }
          }
        }
      }

      .col2 {
        height: 50vh;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.116);

        .h2 {
          height: 40px;
          width: 100%;
          font-family: Montserrat;
          color: rgba(0, 0, 0, 0.667);
          display: flex;
          align-items: center;
          justify-content: start;
          border-bottom: 1px solid rgba(128, 128, 128, 0.241);

          p {
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
          }
        }

        .names-con {
          height: 15%;
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          border-bottom: 1px solid rgba(128, 128, 128, 0.241);

          .rect {
            margin-left: 10px;
            height: 18px;
            width: 80px;
            position: relative;
            bottom: 5px;
            background-color: rgba(175, 175, 175, 0.13);
            border-radius: 0.2rem;
            box-shadow: 1px 2px 2px rgba(230, 230, 230, 0.482);
          }

          p {
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 600;
            color: gray;
            position: relative;
            left: 10px;

            span {
              color: white;
              background-color: rgb(46, 186, 46);
              border-radius: 0.5rem;
              cursor: pointer;
            }
          }
        }
      }
    }

    .small-footer {
      height: 70px;
      position: fixed;
      bottom: 0;
      left: 40px;
      font-size: small;
      color: gray;
      font-weight: 400;

      .txt-l {
        position: absolute;
        left: 20px;
        top: 20px;
      }

      .txt-r {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }
}

#toggle-btn:checked ~ .main-page > .content-page {
  width: 76%;
  left: 280px;
  transition: all 0.2s;
}

#toggle-btn:checked ~ .main-page > .content-page > .small-footer {
  margin-left: 140px;
  transition: all 0.2s;

  .txt-l {
    left: 16%;
}
}

.border-0{
  border: 0 !important;

}
.card-header{
 
  margin-bottom: 0;
  color: white;
  background-color: white;
  width: 100%;
}
.card1{
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 2px #38414a26;
  height: 70px;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  
}
.search-box{
  margin-top: 15px;
  /* margin-bottom: 5px; */
  /* margin-left: 5px; */
  /* height: 50px; */
  /* border: 2px solid black; */
  display: flex;
  

  .form-control{
    height: 40px;
    /* width: 500px; */
    /* margin-top: 15px; */
  
  }
}
.hstack{
margin-top: 10px;
}
.icon{
  margin-top: 4px;
  /* border: solid black 1px; */
  margin-left: 10px;
}

.btn {
  height: 40px;
  width: 100px;
  margin-right: 25px;
}


.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 2px #38414a26;
}



.ribbon {
  padding: 3px 8px;
  /* box-shadow: 2px 5px 10px #38414a26; */
  color: #fff;
  font-size: 0.825rem;
  font-weight: 500;
  position: absolute;
  top: 5px;
  right: 0;
  background: #13c56b;
  line-height: 2px;
  transition: all 0.03s ease;

}



.ribbon:hover{
  top: 0;
  left: 15px;
  /* border-width: 0 1px 1px 0; */
  transform: scale(1.1);
  border-color: transparent #13c56b transparent transparent;
}










.btn-sm {
  height: 30px;
  width: 30px;
}
.f1{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  height: 100px ;
  
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin-left: 400px;

}

.modal-content {
  margin: auto; 
  
}


.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--vz-modal-color);
    pointer-events: auto;
    background-color: var(--vz-modal-bg);
    background-clip: padding-box;
    border: var(--vz-modal-border-width) solid var(--vz-modal-border-color);
    border-radius: var(--vz-modal-border-radius);
    outline: 0;
}
.modal-dialog:not(.modal-dialog-scrollable) .modal-header {
  padding-bottom: 0;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--vz-modal-header-padding);
  border-bottom: var(--vz-modal-header-border-width) solid var(--vz-modal-header-border-color);
  border-top-left-radius: var(--vz-modal-inner-border-radius);
  border-top-right-radius: var(--vz-modal-inner-border-radius);
}
.modal-title {
  margin-bottom: 0;
  line-height: var(--vz-modal-title-line-height);
}
.modal-title {
  font-weight: 500;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    pointer-events: auto;
    background-color: white;
    background-clip: padding-box;
    border: var(--vz-modal-border-width) solid var(--vz-modal-border-color);
    border-radius: var(--vz-modal-border-radius);
    outline: 0;
}
.mt-3 {
  margin-top: 1rem !important;
}
.bg-light {
  --vz-bg-opacity: 1;
 
}
.p-2 {
  padding: .5rem !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 10px;
}
.form-control {
  display: block;
  width: 98%;
  padding: .5rem .9rem;
  font-size: .825rem;
  font-weight: 400;
  line-height: 1.5;

  
  /* color: var(--vz-body-color); */
  /* background-color: var(--vz-input-bg); */
  background-clip: padding-box;
  border: .5px solid silver;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-select {
  display: block;
  width: 100%;
  padding: .5rem 2.7rem .5rem .9rem;
  -moz-padding-start: calc(.9rem - 3px);
  font-size: .825rem;
  font-weight: 400;
  line-height: 1.5;
  
}
.contspace{
  justify-content: space-evenly;
  display: flex;
 
}